<div class="cart-line">
  <div class="cart-line-header">
    <div class="cart-line-info">
      <p class="cart-line-name">{{ item().product.name }}</p>
      <p class="arcade-data cart-line-price">
        {{ item().quantity }} × {{ formatPrice(item().product.priceCents) }}
      </p>
    </div>
    <button type="button" class="cart-line-remove" (click)="remove.emit(item().productId)">
      Remove
    </button>
  </div>
  <div class="cart-line-timer">
    <span class="arcade-label">Expires</span>
    <app-countdown-display [remainingMs]="remainingMs()" />
  </div>
</div>
